CompileFlags:
  Add: 
    - "-std=c++26"
    - "-O2"
    - "-Wall"
    - "-Wextra"
    - "-Wshadow"

Diagnostics:
  ClangTidy:
    Add:
      - abseil-*
      - altera-*
      - android-*
      - llvm-*
      - hicpp-*
      - cert-*
      - darwin-*
      - modernize-*
      - performance-*
      - cppcoreguidelines-*
      - bugprone-*
      - google-*
      - linuxkernel-*
      - llvm-*
      - llvmlibc-*
      - portability-*
      - openmp-*
      - zircon-*
      - clang-analyzer-*
      - misc-*
      - readability-*
    Remove:
      - cppcoreguidelines-avoid-magic-numbers
      - altera-unroll-loops
      - llvmlibc-restrict-system-libc-headers
      - llvmlibc-implementation-in-namespace
      - llvmlibc-callee-namespace
    CheckOptions:
      readability-identifier-length.IgnoredVariableNames: '^(i|j|k|x|y|z|l|r|T)$'
      readability-identifier-length.IgnoredParameterNames: '^(i|j|k|x|y|z|l|r|T)$'
      readability-identifier-length.IgnoredLoopCounterNames: '^(i|j|k|l|r|T)$'
      readability-identifier-length.IgnoredExceptionVariableNames: '^(e)$'


InlayHints:
  Enabled: true